<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Manager</title>
    <link rel="stylesheet" href="/proyecctoFinal/static/css/styles.css">
    <link rel="stylesheet" href="/proyecctoFinal/static/css/imputs.css">

</head>
<body>
    <div class="login-box">
 
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div><center>
          <a href="#">
                 SEND
             <span></span>
          </a></center>
        </form>
      </div>
    <script src="/proyecctoFinal/static/js/script.js"></script>
</body>
</html>
