{% extends './index.html' %}

{% block title %} Materias {% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Career and Subject Manager</h1>
    
    <h2>Agregar Materia</h2>
    <form id="addMateriaForm" action="/add_materia" method="post">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <select name="carrera_id" required>
            <option value="">Seleccione Carrera</option>
            {% for carrera in carreras %}
            <option value="{{ carrera.id }}">{{ carrera.nombre }}</option>
            {% endfor %}
        </select>
        <input type="number" name="estado" placeholder="Estado" required>
        <input type="submit" value="Agregar Materia">
    </form>

    <h2>Materias</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for materia in materias %}
            <tr>
                <td>{{ materia.id }}</td>
                <td>{{ materia.nombre }}</td>
                <td>{{ materia.carrera_nombre }}</td>
                <td>{{ materia.estado }}</td>
                <td>
                    <form action="/delete_materia/{{ materia.id }}" method="post" style="display:inline;">
                        <input type="submit" value="Inactivar">
                    </form>
                    <button type="button" onclick="editMateria('{{ materia.id }}', '{{ materia.nombre }}', '{{ materia.carrera_id }}', '{{ materia.estado }}')">Editar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Actualizar Materia</h2>
    <form id="updateMateriaForm" action="/update_materia" method="post">
        <input type="hidden" id="materiaId" name="id">
        <input type="text" id="updateNombreMateria" name="nombre" placeholder="Nombre" required>
        <select id="updateCarreraId" name="carrera_id" required>
            <option value="">Seleccione Carrera</option>
            {% for carrera in carreras %}
            <option value="{{ carrera.id }}">{{ carrera.nombre }}</option>
            {% endfor %}
        </select>
        <input type="number" id="updateEstadoMateria" name="estado" placeholder="Estado" required>
        <input type="submit" value="Actualizar Materia">
    </form>

    <script>
        function editMateria(id, nombre, carrera_id, estado) {
            document.getElementById('materiaId').value = id;
            document.getElementById('updateNombreMateria').value = nombre;
            document.getElementById('updateCarreraId').value = carrera_id;
            document.getElementById('updateEstadoMateria').value = estado;
        }
    </script>

</div>
{% endblock %}
