{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<div class="contenidoPrimaria">
    <p id="plat1">Contenido</p>
    <p id="plat2">CONTENIDO DE LOS DATOS DEL usuario</p>
    <p id="plat3">CONTENIDO DE LOS DATOS DEL usuario</p>
</div>
<div class="contenidoSecundaria">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/register.png" alt="Cajas" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">MENU</h5>
                    <p class="card-text">74 Registradas</p>
                </div>
            </div>
        </div>

        <!-- Aquí van las otras tarjetas similares -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/register.png" alt="Categorías" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">estudiante</h5>
                    <p class="card-text">33 Registradas</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/register.png" alt="Usuarios" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">docente</h5>
                    <p class="card-text">62 Registrados</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/register.png" alt="Productos" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">carrera</h5>
                    <p class="card-text">138 Registrados</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/register.png" alt="Clientes" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">materia</h5>
                    <p class="card-text">54 Registrados</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/register.png" alt="Movimientos" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">aula</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/register.png" alt="Ventas" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">clase</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/register.png" alt="Devoluciones" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">asistencia</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/users.png" alt="Reportes" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">USUARIOS</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
